<div class="container">
  <span id="homepage-header">How It Works</span>

  <p>Using a decentralized database known as Blockchain, we securly encrypt your data to make sure the bad guys don't get it. </p>
</div>
