<div class="container">
  <div class="row">
    <div class="col-md-4 center">
      <span id="homepage-header">How It Works</span>
    </div>
    <div class="col-md-8 horicenter">
      <p>Using a decentralized database known as Blockchain, we securly encrypt your data to make sure the bad guys don't get it. </p>
    </div>
  </div>
</div>
