<div class="container">
  <div class="row">
    <a class= "pretty-button" href="/contract">Retrieve Information from Blockchain</a>
    <a class= "pretty-button" href="/contract/new">Store Sensative Information</a>

  </div>

</div>
