<div class="container">
  <div class="row">
    <a class= "pretty-button" href="/contract"><button id="login" type="submit" class="btn btn-default">Retrieve Information</button></a>
    <a class= "pretty-button" href="/contract/store"><button id="login" type="submit" class="btn btn-default">Store Sensative Information</button></a>

  </div>

</div>
