<h1 class="header">Data Retrieval</h1>


<form id="data-retrieval" class="form header" action="/users" method="post">
   <fieldset>
    <legend>Open Data Locker</legend>

    <p class="personalID">
        <input type="text" name="locker[personalID]" id="personalID" required>
        <label for="bank_name">Personal ID</label>
    </p>

    <p class="LockerID">
        <input type="text" name="locker[lockerID]" id="LockerID" required>
        <label for="bank_name">Locker Number</label>
    </p>


    <p class="submit">
        <input id="save" type="submit" value="Save">
    </p>

   </fieldset>
</form>


<!-- <div id="data-display" class="pop-up"> -->

  <div id= "ID-display" class="pop-up hidden">
    <p>Data Type</p>
    <p id="ID-display-type"></p>

    <p>Name</p>
    <p id="ID-display-sig"></p>

    <p>Form of ID</p>
    <p id="ID-display-idType"></p>

    <p>Expiration Date</p>
    <p id="ID-display-expDate"></p>

    <p>Liscense Number</p>
    <p id="ID-display-licNum"></p>
  </div>

  <div id= "Account-display" class="pop-up hidden">
    <p>Data Type</p>
    <p id="Account-display-type"></p>

    <p>Name</p>
    <p id="Account-display-sig"></p>

    <p>Bank Name</p>
    <p id="Account-display-name"></p>

    <p>Routing Number</p>
    <p id="Account-display-routing"></p>

    <p>Account Number</p>
    <p id="Account-display-account"></p>
  </div>

  <div id="Login-display" class="pop-up hidden">
    <p>Data Type</p>
    <p id="Login-display-type"></p>

    <p>Website Name</p>
    <p id="Login-display-siteName"></p>

    <p>Website URL</p>
    <p id="Login-display-url"></p>

    <p>Username</p>
    <p id="Login-display-userName"></p>

    <p>Password</p>
    <p id="Login-display-password"></p>
  </div>

  <div id="Card-display" class="pop-up hidden">
    <p>Data Type</p>
    <p id="Card-display-type"></p>

    <p>Name</p>
    <p id="Card-display-sig"></p>

    <p>Bank Name</p>
    <p id="Card-display-bank"></p>

    <p>Full Name on Card</p>
    <p id="Card-display-fullName"></p>

    <p>Card Type</p>
    <p id="Card-display-issuer"></p>

    <p>Card Number</p>
    <p id="Card-display-number"></p>

    <p>Security Code</p>
    <p id="Card-display-securityCode"></p>

    <p>Expiration Date</p>
    <p id="Card-display-expDate"></p>
  </div>
</div>
