<div class="mainform">
      <form id="name">
        <label for="fullname">Fullname: </label>
        <input type="text" name="fullname" id="name"></br>
        <label for="fullname">Passphrase(more than 12 characters pls): </label>
        <input type="password" name="passphrase">
        <input type="Submit" value="Register">
      </form>

      </br>

      <form id="getkeys">
        <input type="Submit" value="Get Private Key">
      </form>

      </br>

      <form id="cc">
        <label for="creditcardname">Card name: </label>
        <input type="text" name="creditcardname">
        <label for="creditcardnum">Card Number: </label>
        <input type="text" name="creditcardnum">
        <label for="creditcardccv">Card CCV: </label>
        <input type="text" name="creditcardccv">
        <input type="Submit" value="Encrypt">
      </form>
    </div>

    <div class="key">

    </div>
