<h1 class="header">Please assign information to the blockchain</h1>

<form id="creating_user" class="form header" action="/users" method="post">
   <fieldset>
    <legend>New Locker Owner</legend>

    <p class="First Name">
        <input type="text" name="person[firstName]" id="person_fn" required>
        <label for="bank_name">First Name</label>
    </p>

    <p class="LockerID">
        <input type="text" name="person[lastName]" id="person_ln" required>
        <label for="bank_name">Last Name</label>
    </p>


    <input type="hidden" name="person[pubKey]" id="person-pubKey" value='<%=@user.public_key%>' required>


    <p class="submit">
        <input id="save" type="submit" value="Save">
    </p>

   </fieldset>
</form>
