.background {
  background-image: url('chicago-690364.jpg');
  background-repeat: no-repeat;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  position: absolute;
  width: 100%;
  height: 500px;
  background-position:center;
  top:0;
  left:0;
  z-index:-1;
  }

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.bio {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bio-content {
  font-size: 40px;a
}

#homepage-header {
  font-size: 70px;

}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:500px;
}

.logosplit {
  position: absolute;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horicenter {
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 30px;
  font-size: 30px;
}
.links ul li a{
  color: black;
}

#logo {
  height: 190px;
}

.header {
  height: 600px;
}

hr {
  width: 700px;
  border-color: black !important;
}

#getstarted {
  width: 300px;
  background-color: black;
  color: white;
  display: block;
}

.button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
