.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register {
  width: 500px;
}

textarea {
  width: 300px;
  height: 500px;
}

.setupblock {

}

#save {
  width: 100px;
}

#passphrase_field {
  width: 200px;
}
