<!DOCTYPE html>
<html>
  <head>
    <title>Myblok</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

  </head>

  <body>
    <div class="header">
      <div class="background"></div>
      <div class="background-content">
        <a href="/"><img id="logo" src="/assets/mybloknew.png" /></a>
      </div>
      <hr>
      <div class="bio">
          <span id="bio-content">Identity Securtity Using Blockchain</span>
      </div>
      <% if logged_in == false %>
      <div class="button">
        <a href="/register"><button id="getstarted" type="button" class="btn btn-secondary btn-lg">GET STARTED</button></a>
      </div>
      <div class="button">
        <a href="/sessions/login"><button id="getstarted" type="button" class="btn btn-secondary btn-lg">EXISTING USER</button></a>
      </div>
      <% end %>
    </div>


    <!-- <div class="logo">
      <img class="logosplit" src="/assets/top.png" />
      <img class="logosplit" src="/assets/lefbot.png" />
      <img class="logosplit" src="/assets/lefttop.png" />
      <img class="logosplit" src="/assets/top.png" />
      <img class="logosplit" src="/assets/righttop.png" />
      <img class="logosplit" src="/assets/rightbot.png" />
    </div> -->
    <%= yield %>

  </body>
</html>
