<!DOCTYPE html>
<html>
  <head>
    <title>Myblok</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="background"></div>
      <div class="background-content">
        <img id="logo" src="/assets/mybloknew.png" />
      </div>
    </div>
    <%= yield %>
  </body>
</html>
