<!DOCTYPE html>
<html>
  <head>
    <title>Myblok</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

  </head>

  <body>
  <div class="header-user">
    <div class="background-content">
      <a href="/"><img id="logo" src="/assets/mybloknew.png" /></a>
    </div>
    <hr>
  </div>

  <div class="user-content">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default">Banking Accounts</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default">Credit Cards</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default">Identification Cards</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default">Website Logins</button>
      </div>
    </div>

  </div>


  </body>

</html>
